$background-color: #23272A;
$background-card: #282C35;
$background-button: #2E323D;
$font-color: #f8f8f8;

// Color Palet
$orange: #FBAB7E;
$blue: #8BC6EC;
$orange-yellow: #F7CE68;
$green: #85FFBD;
$yellow: #FFFB7D;
$purple: #9599E2;
$light-blue: #8EC5FC;
$light-purple: #E0C3FC;
$html: #F76B1C;
$css: #0093E9;
$js: #FBDA61;
$php: #9FACE6;
$sql: #74EBD5;
$java: #FBAB7E;
$boostrap: #7a52b3;
$sass: #fcc4e7;
$react: #99e9f4;
$node: #b0ebbf;
$discord: #5865f2;
$git: #a7b7c4;