@import 'color';

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: $font-color;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  
}